<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116876401406-u5enb2jgk4kuqkll9ti8skfmcem22bma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116876401406-u5enb2jgk4kuqkll9ti8skfmcem22bma</string>
	<key>API_KEY</key>
	<string>AIzaSyB7500lAe4QXkK4lQZX_1CwR0iKnwXXp-g</string>
	<key>GCM_SENDER_ID</key>
	<string>116876401406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.co.onecorpore</string>
	<key>PROJECT_ID</key>
	<string>desafio-bycoders-c6281</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-bycoders-c6281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116876401406:ios:85ac8c33ba755a6770a3af</string>
</dict>
</plist>